annotated-types==0.7.0
argcomplete==3.6.3
bitarray==3.8.1
bitstring==4.4.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
construct==2.10.70
cryptography==44.0.3
ecdsa==0.19.2
esp-coredump==1.16.0
esp-idf-kconfig==2.5.3
esp-idf-monitor==1.9.0
esp-idf-size==1.7.1
esp_idf_nvs_partition_gen==0.1.9
esp_idf_panic_decoder==1.4.2
esptool==4.11.0
freertos-gdb==1.0.4
idf-component-manager==2.4.9
idna==3.11
intelhex==2.3.0
jsonref==1.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==26.0
psutil==7.2.2
pyclang==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyelftools==0.32
pygdbmi==0.11.0.0
Pygments==2.20.0
pyparsing==3.2.5
pyserial==3.5
python-dotenv==1.2.2
PyYAML==6.0.3
reedsolo==1.7.0
requests==2.33.1
requests-file==3.0.1
requests-toolbelt==1.0.0
rich==15.0.0
ruamel.yaml==0.19.1
six==1.17.0
tibs==0.5.7
tqdm==4.67.3
truststore==0.10.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
